#contact {
    min-height:calc(100vh - 5rem);
    width: 100vw;
    max-width: 85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
}


.contactTitle {
    font-size: 3rem;
}

.contactText1 {
    margin: 2rem;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:90vw;
    max-width:60rem;
}

.name, .email, .msg {
    margin-bottom:1.5rem ;
    width: 100%;
    max-width: 40rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 1rem;
    background: rgb(50,50,50);
}

.submitBtn {
    background: white;
    border: none;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
}