#intro {
    height: calc(100vh - 5rem);
    width: 100vh;
    max-width: 80rem;
    margin: 0 auto;
    overflow: hidden; 
    position: relative;
}

.infoImg {
    height: 2rem;
    width: 2rem;
    padding: 2px;
}

.profilePic {
    position:absolute;
    top: 10rem;
    right: 10rem;
    z-index: -1;
    object-fit: cover;
    border-radius: 50%;
}

.introInfo {
    height: 100vh;
    width: 100vh;
    font-size:3rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -6rem;
    
}

.hello {
    font-size:2rem;
    font-weight: 100;
}

.introName {
    color:#1F51FF;
    font-weight:700; 
}

.introText2 {
    font-size:2.25rem;
    font-weight:100;
    padding-bottom: 2rem;
}

.introBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 2rem;
    
}

.introBtn:hover {
    cursor: pointer;
    background: #1F51FF;
    color: white;
}

